doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navigator-container 
      block navigation 
        ul.navigator
          li 
            a(href="/inventory") Home 
          li 
            a(href="/inventory/categories") All Categories  
          li 
            a(href="/inventory/items") All Items  
          li 
            a(href="/inventory/iteminstances") All Item Instances 
          li 
            a(href="/inventory/category/create") Create New Category 
          li 
            a(href="/inventory/item/create") Create New Item 
          li 
            a(href="/inventory/iteminstance/create") Create New Item Instance    
    .content-container
      block content
